@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<FMI_overflowed.Models.Post>

<div class="jumbotron">
    <h1>FMI overflowed</h1>
</div>

<div class="row">

    @foreach (var post in Model)
    {
        <div class="col-md-4">
            <h2>Recent in Math</h2>
            <p>
                Title: @post.Title  
            <p>
                @if (@post.Author != null)
                {
                    @:by <i>@post.Author.FullName</i>

                }
                @post.Date
            </p>

             <p>
                <a> @post.Body</a>
            </p>
        </div>
    }

</div>