@{
    ViewBag.Title = "Home Page";
}
@using FMI_overflowed.Classes;
@using FMI_overflowed.Models;
@model IEnumerable<Post>



<div class="jumbotron">
    <h1 class="title">FMI overflowed</h1>
</div>


   <section class="row">
    <article class="col-md-4">
        <h1 class="title">Latest in Math</h1>

        <section class="row">
            @foreach (var post in Model)
            {
                
                if (post.Section =="Math"&& post.Section!=null)
                {   <article class="col-md-4">
                        <h3 class="title"><a href="/Posts/Details/@post.Id">@post.Title</a></h3>
                    <div class="about">                    
                        @if (post.Author != null)
                        {
                            @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                        }

                    </div>
                        <div class="body">@Utils.CutText(post.Body) </div>
                        From <i>@post.Date</i>
                    </article>

                    break;
                }

            }
        </section>
    </article>




    <article class="col-md-4">
        <h1 class="title">Latest in Programming</h1>
        <section class="row">
            @foreach (var post in Model)
            {
                if (post.Section == "Programming")
                {   <article class="col-md-4">
                    <h3 class="title"><a href="/Posts/Details/@post.Id">@post.Title</a></h3>
                    <div class="about">
                        @if (post.Author != null)
                        {
                            @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                    </div>
                        <div class="body">@Utils.CutText(post.Body)</div>
                        From <i>@post.Date</i>
                </article>
                    break;
                }
            }
        </section>
    </article>
    <article class="col-md-4">
        <h1 class="title">Latest in Fun</h1>
        <section class="row">
            @foreach (var post in Model)
            {
                if (post.Section == "Fun")
                {   <article class="col-md-4">
                    <h3 class="title"><a href="/Posts/Details/@post.Id">@post.Title</a></h3>
                    <div class="about">
                        @if (post.Author != null)
                        {
                            @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                    </div>
                        <div class="body">@Utils.CutText(post.Body) </div>
                        From <i>@post.Date</i>
                </article>
                    break;
                }
            }
        </section>
    </article>

</section>











    