@{
    ViewBag.Title = "Posts about Math";
}

@using FMI_overflowed.Classes;
@using FMI_overflowed.Models;
@model IEnumerable<Post>

<div class="jumbotron">
    <h1 class="title">Math Section</h1>
    <p class="lead">This is the place for all your math questions.</p>
</div>
@Html.ActionLink("Create new post", "Create", "Posts")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Section == "Math")
        {
    <tr>
        <td>
            <a href="/Posts/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
</td>
        <td>
            @Utils.CutText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @if (item.Author == null)
            {
                <i>No Author</i>
            }
            @Html.DisplayFor(modelItem => item.Author.FullName)

        </td>
        <td> @Html.ActionLink("Add a Comment", "Create", "Comments")
            </td>
    </tr>
        }
    }

</table>





