@{
    ViewBag.Title = "Posts about Programming";
}

@using FMI_overflowed.Classes;
@using FMI_overflowed.Models;
@model IEnumerable<Post>

<div>
    <h1 class="title" style="font-family:'Lato';font-weight:900;color:#00af79;">Programming Section</h1>
    <p class="lead"><i>This is the place for all your programming questions.</i></p>
</div>

<div class="uvc-heading-spacer line_only" style="topheight:1px;">

    <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 1px; border-color: rgb(86, 86, 86); width: 440px; float: left;"></span>
</div>
<div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div>


<p>
    @Html.ActionLink("Create new post", "Create", "Posts")

    @using (Html.BeginForm())
    {
    <p>
        Search: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
    </p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Section == "Programming")
        {       <tr>
            <td>
                <a href="/Posts/Details/@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
</td>
            <td>
                @Utils.CutText(item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @if (item.Author == null)
                {
                    <i>No Author</i>
                }
                @Html.DisplayFor(modelItem => item.Author.FullName)

            </td>
                    
        </tr>
        }
    }

</table>