@{
    ViewBag.Title = "Posts";
}


@model  List<FMI_overflowed.Models.Post>

<div class="jumbotron">
    <h1>Posts Section</h1>
    <p class="lead">This is the place for all your  questions.</p>
    @Html.ActionLink("Create", "Create", "Posts")
</div>

<section class="row">
        <article class="col-md-4">
            <div>Math</div>

            <section class="row">
                @foreach (var post in Model)
                { if (post.Section == "Math")
                    {   <article class="col-md-4">
                        <h2 class="title">@post.Title</h2>
                        <div class="about">
                            Posted on <i>@post.Date</i>
                            @if (post.Author != null)
                            {
                                @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                        </div>
                        <div class="body">@post.Body </div>
                        <div class="section">@post.Section </div>
                    </article>
                    }
                }
            </section>
            </article>




        <article class="col-md-4">
            <div>Programming</div>
            <section class="row">
                @foreach (var post in Model)
                {
                    if (post.Section == "Programming")
                    {   <article class="col-md-4">
                    <h2 class="title">@post.Title</h2>
                    <div class="about">
                        Posted on <i>@post.Date</i>
                        @if (post.Author != null)
                        {
                            @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                    </div>
                    <div class="body">@post.Body </div>
                    <div class="section">@post.Section </div>
                </article>
                    }
                }
            </section>
        </article>
        <article class="col-md-4">
            <div>Fun</div>
            <section class="row">
                @foreach (var post in Model)
                {
                    if (post.Section == "Fun")
                    {   <article class="col-md-4">
                    <h2 class="title">@post.Title</h2>
                    <div class="about">
                        Posted on <i>@post.Date</i>
                        @if (post.Author != null)
                        {
                            @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                    </div>
                    <div class="body">@post.Body </div>
                    <div class="section">@post.Section </div>
                </article>
                    }
                }
            </section>
        </article>

</section>






