@{
    ViewBag.Title = "Posts about Math";
}

@model List<FMI_overflowed.Models.Post>

<div class="jumbotron">
    <h1>Math Section</h1>
    <p class="lead">This is the place for all your math questions.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<section class="row">
    @foreach (var post in Model)
    {
        <section class="row">
            <article class="col-md-4">
                <h2 class="title">@post.Title</h2>
                <div class="about">
                    Posted on <i>@post.Date</i>
                    @if (post.Author != null)
                {
                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                </div>
                <div class="body">@post.Body </div>
            </article>
        </section>
    }
</section>



