@{
    ViewBag.Title = "Posts about Programming";
}
@model List<FMI_overflowed.Models.Post>
@Html.ActionLink("Create", "Create", "Posts")





<div class="jumbotron">
    <h1>Programming Section</h1>
    <p class="lead">This is the place for all your math questions.</p>
</div>




<section class="row">
    @foreach (var post in Model)
    {
            <article class="col-md-4">
                <h2 class="title">@post.Title</h2>
                <div class="about">
                    Posted on <i>@post.Date</i>
                    @if (post.Author != null)
                {
                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }

                </div>
                <div class="body">@post.Body </div>
            </article>
       
    }
</section>